* {
  background-color: limegreen;
}

body {
  margin: 0;
}

h1,
h4 {
  color: blue;
}

#h2 {
  color: brown;
}

.h3 {
  color: khaki;
}

div h6 {
  color: grey;
}

div > p {
  color: yellow;
  font-weight: bold;
}

a:hover {
  color: red;  
}

p::first-letter {
  color: black;
}

a[target="_blank"] {
  text-transform: uppercase;
}
