* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    width: 300px;
    height: 100px;
    background: linear-gradient(45deg, black, darkred);
    border: 1px solid black;
    color: white;
}

.translate {
    transform: translate(50px, 100px);
}

.rotateClock {
    transform: rotate(20deg);
}

.rotateCounterClock {
    transform: rotate(-20deg);
}

.scaleIncrease {
    margin: 150px;
    transform: scale(2, 3);
}

.scaleDecrease {
    margin: 150px;
    transform: scale(0.5, 0.5);
}

.skew {
    transform: skew(20deg, 10deg);
}

.matrix1 {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.matrix2 {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
}

.rotateX {
    transform: rotateX(150deg);
}

.rotateY {
    transform: rotateY(150deg);
}

.rotateZ {
    transform: rotateZ(90deg);
}